@page "/"
@namespace AspireApp1.Web.Pages
@using AspireApp1.Web
@using AspireApp1.Web.Components.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RachelProject</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(AspireApp1.Web.Components.App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
