@page "/"

<PageTitle>Home</PageTitle>

<section class=" greeting"
	<h1>Hi, my love ❤️</h1>
	<p> I made this space just for you. It’s not perfect—just like me—but it’s honest and from the heart. </p>
</section>

<section class="about-site">
	<h2>Why I Made This</h2>
	<p>This site is a place where I can open my heart. A space for us. A reminder of how much you mean to me, and how much I want to make things right.</p>
</section>

<section class="mistakes">
	<h2>My Mistakes</h2>
	<p>I know I've made mistakes. I've hurt you in ways I never wanted to. Sometimes through carelessness, sometimes through weakness, and other times through fear. I take full responsibility for the pain I’ve caused.</p>
</section>

<section class="promises">
	<h2>My Promises to You</h2>
	<ul>
		<li>I will listen more, and judge less.</li>
		<li>I will support you, always — emotionally, mentally, and physically.</li>
		<li>I will be faithful, honest, and open with you.</li>
		<li>I will never stop showing you how much you mean to me.</li>
		<li>I won't give up on us - no matter what.</li>
	</ul>
</section>

<section class="memories"
	<h2>Our Memories</h2>
	<div class="memory-card"
	 <h3>First Date🍕</h3>
	 <p class="date">March 15, 2023</p>
	 <p class="desc">That pizza night where we laughed for hours and everything felt so natural.</p>
</div>
<div class="memory-card">
	<h3>That Spontaneous Road Trip 🚗</h3>
	<p class="date">June 2, 2023</p>
	<p class="desc"</p><p>We had no plan, but it turned into one of the best days ever. Just us and the road.</p>
</div>
<div class="memory-card">
	<h3>The Night Under the Stars ✨</h3>
	<p class="date">August 19, 2023</p>
	<p class="desc">Lying down, holding hands, and talking about the future under a sky full of stars.</p>
</div>
</section>
